.logo {
    width: 90px;
}

.btn {
    border-radius: 20px;
    background-color: red;
    color: white;
    width: 200px;
    height: 50px;
    font-family: sans-serif;
    margin-right: 10px;
}

.btn:hover {
    background: rgb(133, 4, 4);
}

.combo1 {
    background-color: white;
    width: 700px;
    height: 350px;

}

.fotocb1 {
    width: 300px;
    height: 300px;
}

footer {
    padding: 2rem 0;
    margin-top: 200px;
    background-color: rgba(85, 83, 82, 0.356);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.roda {
    padding: 20px;
}

.logoroda {
    width: 100px;
    height: 100px;
}

.footer-heading {
    font-size: 20px;
}